/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	background-color: #FFFEF8;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, .menu:hover {
	color: #B1663C;
}

.menu {
	padding: 0 10px;
	color: #000;
	text-decoration: none;
}

.current_page {
	font-weight: bold;
}

li img {
	width: 60%;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	margin-bottom: 1em;
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > * , #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"], #login input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 35px;
	text-align: center;
	border-radius: 60px ;
}

#login a {
	display: block;
	margin: auto;
	color: #3D3D3D;
}

#login_form p {
	padding-top: 0.5em;
	color: #ba2323;
	font-style: italic;
}

#login {
	margin-top: 100px;
}

footer {
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

footer nav ul {
	margin: 2em
}

/* Ajout CSS */

.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin: 50px 0;
}

.filters button {
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: inherit;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	padding: 10px 15px;
	min-width: 100px;
	cursor: pointer;
}

button.selected {
	background-color: #1D6154;
	color: #FFF;
}

.edit_header {
	background-color: #000;
	margin: 0;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 100vw;
	height: 60px;
	position: relative;
	left: calc(-50vw + 50%);
}

.edit_header i, .edit_header p {
	color: #FFF;
}

.edit_header * {
	font-weight: 500;
	font-size: 14px;
}

.publish_button {
	background-color: #FFF;
	border-radius: 60px;
	padding: 10px 25px;
	border: none;
}

.edit_text {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin: 15px 0;
}

figure .edit_text {
	width: 80%;
	margin: 15px auto;
}

#introduction .edit_text p {
	margin: 0;
}

#portfolio .edit_text {
	position: relative;
	left: calc(50% + 110px);
	top: 40px;
	width: 100px;
}

.edit_text * {
	font-weight: 400;
	font-size: 14px;
}

.edit_text:hover, .publish_button:hover {
	cursor: pointer;
}

.publish_button:hover {
		background-color: #f2f2f2;
}

/* Modal */

.modal {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 60px);
	background: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal * {
	box-sizing: border-box;
}

.modal-wrapper {
	background-color: #FFF;
	border-radius: 10px;
	width: 630px;
	max-width: 100vw;
	max-height: calc(100vh - 100px);
	min-height: 380px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.modal-wrapper h3 {
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
}

.top_icons_wrapper {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.modal-wrapper button {
	width: 50%;
	height: 35px;
	flex-shrink: 0;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
}

.portfolio_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6px;
	grid-row-gap: 10px;
	margin: 30px 70px;
	overflow: auto;

}

.portfolio_wrapper figure {
	position: relative;
}

.portfolio_wrapper img {
	width: 100%;
}

.portfolio_wrapper figcaption {
	font-size: 12px;
}

.icon_del {
	border-radius: 2px;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: white;
	position: absolute;
	top: 5%;
	right: 5%;
}

.icon_del i {
	font-size: 10px;
}

.buttons_wrapper {
	width: calc(100% - 140px);
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-top: 1px solid #B3B3B3;
}


.modal-wrapper button.delete_gallery {
	background-color: transparent;
	color: #D65353;
}

.fa-xmark, .add_photo, .delete_gallery, .icon_del {
	cursor: pointer;
}

body {
	overflow: hidden;
}
